@charset "UTF-8";

@font-face {
	font-family: 'meetme';
	font-style: normal;
	src: local(☺),
		url('../font/meetme.ttf') format('truetype');
}

/****************************************** reset ********************************************/
*, *:before, *:after{box-sizing:border-box;-webkit-tap-highlight-color:rgba(0,0,0,0);}
html{-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz-text-size-adjust:none;color:#43434d;}
html, body{-webkit-font-smoothing:antialiased !important;text-rendering:auto;}
html, body, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, div, span, p, em, strong, b, i, address, form, label, input, select, textarea, table, caption, tbody, thead, tfoot, tr, th, td, hr{margin:0;padding:0;}
header, footer, section, article, aside, nav{display:block;margin:0;padding:0;}
body {margin:0;padding:0;font-family: 'meetme', sans-serif;font-size: 18px;}
h1, h2, h3, h4, h5, h6{font-weight:normal;line-height:1;color:#43434d;}
ul, ol, li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;table-layout:fixed;word-break:break-all;}
img{width:100%;}
img, button{border:0 none;vertical-align:top;}
label{vertical-align:top;white-space: nowrap;}
hr{display:none;height:0;}
i, em, address{font-style:normal;}
b, strong{font-weight:500;}
form{display:block;border:0;}
caption{overflow:hidden;width:0;height:0;margin:0;padding:0;text-indent:-9999px;}
input, textarea, select{font-weight:400;vertical-align:top;}
input{-webkit-appearance:none;font-family:'Noto Sans KR';font-weight:400;border:none;border-radius:0;outline:none;}
button{overflow:visible;display:inline-block;margin:0;padding:0;font-family:'Noto Sans KR';vertical-align:top;border:0 none;background:none;outline:none;cursor:pointer;}
u{display:inline}

a{color:#43434d;text-decoration:none;word-break:break-all;}
a:link, a:visited, a:hover, a:active, a:focus{text-decoration:none;}
a.txt-link{text-decoration:underline;}
.blind{overflow:hidden !important;position:absolute !important;width:0px !important;height:0px !important;margin:0 !important;padding:0 !important;border:0 !important;white-space:nowrap !important;transition:none !important;}

::-webkit-scrollbar {
	display: none;
}

/****************************************** keyframes ********************************************/
@keyframes fadeout {
	from { opacity: 1; }
	to { opacity: 0; }
}
/* Firefox */
@-moz-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}
/* Opera */
@-o-keyframes fadeout {
    from { opacity: 1; }
    to { opacity: 0; }
}

/****************************************** common ********************************************/
#section {
	display: flex;
	height: 100%;
	justify-content: center;
}

#contents {
	position: relative;
	height: 100%;
	width: 385px;
}

#header {
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 10px 0;
	width: 100%;
	min-height: 100px;
	position: absolute;
	top: 0;
	box-shadow: 0 10px 10px -5px #d5d5d5;
}

#innerContents {
	width: 100%;
	height: 100%;
}

#menu {
	width: 100%;
	min-height: 120px;
	position: absolute;
	bottom: 0;
	display: flex;
	background: #000;
	
}

.text-highlight {
	color: #ff9900;
}

/* logo */
.logo-horizon {
	display: flex;
	align-items: center;
	gap: 10px;
	justify-content: center;
}

.logo-vetical {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#title {
	font-size: 3.5em;
	text-shadow:
		-3px 0px #fff, 0px 3px #fff, 3px 0px #fff, 0px -3px #fff;
}

#title.title {
	font-size: 2.5em;
}

#subTitle {
	font-size: 1.5em;
}


/* wrap */
.con-wrap {
	width: 100%;
}
.con-wrap.flex {
	display: flex;
	gap: 10px;
}
.con-wrap.flex.column {
	flex-flow: column;
}
.con-wrap.flex.row {
	justify-content: center;
	align-items: center;
}


/* input */
::placeholder {
	color: transparent;
}
::-webkit-input-placeholder {
	color: transparent;
}
:-ms-input-placeholder {
	color: transparent;
}
input:not(:focus)::placeholder {
	color: #9d9d9d;
}
.inp-wrap {
	display: flex;
	align-items: center;
	gap: 10px;
}
.inp-item {
	width: 100%;
	padding: 10px;
	border: 1px solid #d5d5d5;
	border-radius: 10px;
}
.inp-item:focus {
	border: 1px solid #ff9900;
	box-shadow: 0 0 5px #d5d5d5;
}


/* button */
.btn {
	width: 100%;
	height: 50px;
	border-radius: 10px;
	background: #e2e5e9;
}
.btn.btn-orange {
	background: #ff9900;
	color: #fff;
}

/****************************************** media ********************************************/
/* Desktop Device */
@media screen and (min-width: 1024px) {
	
}

/* iPad Pro 12.9 */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	
}
/* iPad Pro 10.9 */
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2)) {
	
}

/* Tablet Device */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
}

/* Mobile Portrait */
@media screen and (max-width: 480px) and (orientation: portrait) {
	
}

/* Mobile Landscape */
@media screen and (max-width: 767px) and (orientation: landscape) {
	#contents {
		width: 100%;
	}
}

/* Mobile Device */
@media screen and (max-width: 767px) {
	#innerContent {
		padding: 0 30px;
	}
	#contents {
		width: 100%;
	}
}